@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}

.loader:before {
  content: "E-commerce Hub...";
  font-size: 40px;
  font-family: 'Arial', sans-serif;
  color: #4a90e2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}


.loader2 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}

.loader2:before {
  content: "Opeyemi Couture...";
  font-size: 40px;
  font-family: 'Arial', sans-serif;
  color: #4a90e2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}


@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.1%, 100% {
    opacity: 0;
  }
}

.animate-blink {
  display: inline-block;
  animation: blink 1s infinite;
}



