.loader4 {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
  }
  
  .loader4:before {
    content: "NUTural Bites...";
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    color: #8B4513;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes l5 {
    to {
      clip-path: inset(0 -1ch 0 0);
    }
  }